body {
  margin: 0px;
  padding: 0px;
  }/*  Step-1.1 You don't need to put a position on this element because it is already at the top of the screen */

.header {
    width: 100%;
    height: 10vh;
    background: #D8D8D8;

}
.logo-container {
  height: 50px;
  width: 420px;
  background-color: BLUE;
  display: inline-block;
  float: left;
  margin: 22px;


}
.menu-container{
  height: 50px;
  width: 50px;
  background-color: BLUE;
  display: inline-block;
  float: right;
  margin: 22px;


}
/* Step-1.2 I would suggest using float to get this container in it's desired location*/

.content-left {
    width: 33.4%;
    /*this height is a placeholder. You will need to make some adjustment to get this container to look like the design */
    height: 100px;
    background: #565555;
    display: inline-block;
    height: 80vh;
    margin: 0px;
    float: left;
}
.topBox {
  background-color: rgb(57, 238, 238);
  height: 30%;
  width: 83%;
  margin: 8%;
  margin-top: ;



}
.bottomBox {
  background-color: rgb(57, 238, 238);
  height: 50%;
  width: 83%;
  margin: 8%;
  margin-top: ;

}



/* Step-1.3 I would suggest using float to get this container in it's desired location. */

.content-mid {
    width: 66.6%;
    /*this height is a placeholder. You will need to make some adjustment to get this container to look like the design */
    background: #B0B0B0;
    display: inline-block;
    height: 80vh;
    float:left;
    margin: 0px;


}


/* Step-1.4 your going to want to add a positioning property to get this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 10vh;
    background: #9d9d9d;
    margin: 0px;
    float: left;
}
